The module exposes the <code>translation</code> field that can be used to connect Drupal's translation system with GraphQL.

<h2>Usage</h2>

<code>
query translationQuery($language: LanguageId!) {
  textOne: translation("Text one", $language)
  textTwo: translation("Text two", $language)
}
</code>

The returned values are translations of the given texts in the <em>graphql</em> context, so regular drupal interface strings won't be returned. There's a simple page showing just these under <code>/admin/config/graphql/string-translation</code>.

<h2>Adding new strings</h2>

The default setting is that the non-existent strings requested with the field are <strong>not added</strong> to the translation system. This means that non-privileged users can request translations for the strings from a pre-defined list (those with the context set to <em>graphql</em>). Strings can be added in the settings form at <em>/admin/config/graphql/string-translation</em>.

This behavior can be overridden by the <em>Request translations of arbitrary strings</em> permission. Strings requested by the accounts with this permission will be added to the system. The permission has security implications and should be given only to trusted roles.

<h2>Requirements</h2>

<ul>
  <li>The translation page requires the patch from [#2123543] to work correctly.</li>
  <li>The 1.x branch is only compatible with the versions of the GraphQL module that are based on Youshido's library (up to 8.x-3.0-beta5).</li>
  <li>The 2.x branch is only compatible with the versions of the GraphQL module based on webonyx's library (since 8.x-3.0-beta6).</li>
</ul>
